.gradle
.idea
.vscode
.cache
.kotlin

node_modules
kotlin-js-store
/build
/*/build
/*/dist

.cxx
.DS_Store
.externalNativeBuild

*.jks
*.keystore
keystore*/README.txt
*.apk
*.zip
local.properties
libs.versions.updates.toml
